* {
  box-sizing: border-box;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
}

:root {
  --white: #fff;
  --Brown: #2d2d2d;
  --DarkGray: #fffdfd00;
  --LightGray: #dcdbdb;
  --Gray: #e5e5e575;
  --SearchColor: #6f6f6f;
  --mobGray: #cecece;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: var(--Brown);
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: 16px;
  line-height: 18.22px;
  letter-spacing: 1px;
}

/* Верстка проекта */

.heroSarafan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.sarafanHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1175px;
  height: 100px;
  z-index: 1;
}

.headerNavigation {
  width: 416px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLinks {
  transition: 0.3s;
}

.navLinks:hover {
  color: var(--white);
  transition: 0.3s;
}

.headerLogo {
  width: 182px;
  height: 86px;
}

.headerSearch {
  width: 200px;
  padding: 0px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--SearchColor);
}
.headerSearch::before {
  content: url(../images/ei_search.png);
  padding-right: 5px;
  padding-top: 5px;
}

.headerSearchInp {
  background-color: var(--DarkGray);
  font-size: 16px;
  font-weight: 19.5px;
}

.headerIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 135px;
}

.icons {
  cursor: pointer;
  transition: 0.3s;
}

.icons:hover path {
  fill: var(--white);
  transition: 0.3s;
}

.slider {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/bgSarafan.png) 0 0 / cover no-repeat;
  z-index: -1;
}

.arrowNavigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0px 60px;
}

.left {
  transform: scaleX(-1);
}

.arrow {
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover path {
  fill: var(--Brown);
  transition: 0.3s;
}

.sliderContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 382px;
  height: 300px;
  color: var(--white);
  z-index: 2;
  margin-right: 12%;
}

.textSummer {
  font-size: 25px;
  line-height: 28.47px;
  letter-spacing: 1px;
}

.textWithLove {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 63px;
  font-weight: 500;
  line-height: 71.76px;
  letter-spacing: 1px;
}

.buttonGoTo {
  width: 300px;
  height: 56px;
  color: var(--Brown);
  transition: 0.3s;
}

.buttonGoTo:hover {
  background-color: var(--Brown);
  color: var(--white);
  transition: 0.3s;
}

.bottomBullet {
  width: 82px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bullet {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--Gray);
  cursor: pointer;
  transition: 0.3s;
}

.bullet:hover {
  background-color: var(--LightGray);
  transition: 0.3s;
}

.headerBurgerMob {
  display: none;
}

@media (max-width: 1200px) {
  .sarafanHeader {
    width: 1000px;
  }
}

@media (max-width: 1024px) {
  .sarafanHeader {
    width: 900px;
  }
  .headerSearch {
    width: 110px;
  }
  .headerNavigation {
    width: 350px;
  }
}

@media (max-width: 900px), (max-height: 450px) {
  .sarafanHeader {
    width: 800px;
  }
  .slider {
    justify-content: center;
  }
  .sliderContent {
    margin-right: 0;
  }
}

@media (max-width: 824px) {
  .sarafanHeader {
    width: 660px;
  }
  .headerNavigation {
    width: 310px;
  }
  .headerLogo {
    width: 130px;
    height: 60px;
  }
  .headerIcons {
    width: 100px;
  }
  .icons {
    width: 25px;
    height: 25px;
  }
  .Profile {
    width: 31px;
    height: 31px;
  }
}

@media (max-width: 660px), (max-height: 450px) {
  .headerNavigation {
    display: none;
  }
  .headerSearch {
    display: none;
  }

  .headerIcons {
    flex-direction: row-reverse;
    width: 60px;
  }

  .like {
    display: none;
  }

  .icons path {
    fill: var(--mobGray);
  }

  .icons:hover path {
    fill: var(--Brown);
    transition: 0.3s;
  }

  .sarafanHeader {
    width: 100%;
    height: 60px;
    background-color: var(--white);
  }
  .headerBurgerMob {
    display: flex;
    width: 19px;
    height: 12px;
  }
  .headerLogo {
    width: 140px;
    height: 70px;
  }
  .slider {
    background: url(../images/mobileMilfsvg.svg) 100% 0% / cover no-repeat;
    height: 100vh;
    margin-top: 10px;
    justify-content: center;
  }

  .arrowNavigation {
    display: none;
  }
  .sliderContent {
    width: 261px;
    height: 200px;
    color: var(--Brown);
  }
  .textSummer {
    font-size: 20px;
    line-height: 22.78px;
  }
  .textWithLove {
    font-size: 43px;
    font-weight: 500;
    line-height: 48.98px;
  }
  .buttonGoTo {
    width: 210px;
  }
}

@media (max-width: 400px) {
  .sarafanHeader {
    height: 50px;
  }

  .headerLogo {
    width: 110px;
    height: 50px;
  }

  .icons {
    width: 19px;
    height: 19px;
  }
  .Profile {
    width: 24px;
    height: 24px;
  }
}
